# FastAPI
fastapi==0.115.5
uvicorn[standard]==0.30.6

# Base de données
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.13.3

# Validation
pydantic==2.9.2
pydantic-settings==2.4.0

# Authentification
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12

# Templates (AJOUT IMPORTANT)
jinja2==3.1.4

# Utilitaires
python-dotenv==1.0.1